<main class="carrito-container container">
  <h1 class="carrito-title">CARRITO DE COMPRAS</h1>
  <section class="carrito container">
    <article class="carrito__content carrito__content-title">
      <p class="carrito__content-column">detalle del producto</p>
      <p class="carrito__content-column">cantidad</p>
      <p class="carrito__content-column">total</p>
      <p class="carrito__content-column"></p>
    </article>
    <% if (cart && cart.CartItems) { %> <% cart.CartItems.forEach(cartItem => {
    %>
    <div class="carrito__content">
      <div class="carrito__item">
        <picture class="carrito__cover">
          <img
            src="/uploads/productos/producto_<%= cartItem.Product.id %>_front.webp"
          />
        </picture>
        <div class="carrito__description">
          <h2 class="carrito__description-title">
            <%= cartItem.Product.nombre %>
          </h2>
          <p class="carrito__description-text">
            <% if (cartItem.Product.categoria) { %> <%=
            cartItem.Product.categoria.nombre %> <% } %>
          </p>
          <p class="carrito__description-price">
            precio: $<span id="price_<%= cartItem.Product.id %>">
              <%= cartItem.Product.precio %>
            </span>
          </p>
        </div>
      </div>
      <div class="carrito__item-quantity">
        <input
          id="quantity_<%= cartItem.Product.id %>"
          type="text"
          class="carrito_item-quantity_field"
          placeholder="0"
          value="<%= cartItem.Quantity %>"
        />
        <div class="carrito_item-quantity_buttons">
          <!-- ... botones para ajustar cantidad ... -->
        </div>
      </div>
      <div class="carrito__item-price">
        <p class="carrito__description-text">
          $<span id="total_<%= cartItem.Product.id %>"
            ><%= cartItem.Product.precio * cartItem.Quantity %></span
          >
        </p>
      </div>
      <button class="carrito__trash">
        <i class="fa-regular fa-circle-xmark"></i>
      </button>
    </div>
    <% }); %> <% } else { %>
    <p class="error-text">No hay elementos en el carrito.</p>
    <% } %>

    <!--<div class="carrito__content">
      <div class="carrito__item">
        <picture class="carrito__cover">
          <img src="../img/star-wars/baby-yoda.webp" alt="baby yoda" />
        </picture>
        <div class="carrito__description">
          <h2 class="carrito__description-title">Baby Yoda Blueball</h2>
          <p class="carrito__description-text">Star Wars</p>
          <p class="carrito__description-price">
            precio: $<span id="price_yoda">2000,00</span>
          </p>
        </div>
      </div>
      <div class="carrito__item-quantity">
        <input
          id="quantity_yoda"
          type="text"
          class="carrito_item-quantity_field"
          placeholder="0"
          value="0"
        />
        <div class="carrito_item-quantity_buttons">
          <button id="add_yoda">
            <i class="fa-solid fa-square-plus"></i>
          </button>
          <button id="subtract_yoda">
            <i class="fa-solid fa-square-minus"></i>
          </button>
        </div>
      </div>
      <div class="carrito__item-price">
        <p class="carrito__description-text">$<span id="total_yoda">0</span></p>
      </div>
      <button class="carrito__trash">
        <i class="fa-regular fa-circle-xmark"></i>
      </button>
    </div>-->
    <!--<div class="carrito__content">
      <div class="carrito__item">
        <picture class="carrito__cover">
          <img src="../img/pokemon/pidgeotto.webp" alt="pidgeotto" />
        </picture>
        <div class="carrito__description">
          <h2 class="carrito__description-title">Pidgeotto</h2>
          <p class="carrito__description-text">Pokemon</p>
          <p class="carrito__description-price">
            precio: $<span id="price_pid">1799,99</span>
          </p>
        </div>
      </div>
      <div class="carrito__item-quantity">
        <input
          id="quantity_pid"
          type="text"
          class="carrito_item-quantity_field"
          placeholder="0"
          value="0"
        />
        <div class="carrito_item-quantity_buttons">
          <button id="add_pid">
            <i class="fa-solid fa-square-plus"></i>
          </button>
          <button id="subtract_pid">
            <i class="fa-solid fa-square-minus"></i>
          </button>
        </div>
      </div>
      <div class="carrito__item-price">
        <p class="carrito__description-text">$<span id="total_pid">0</span></p>
      </div>
      <button class="carrito__trash">
        <i class="fa-regular fa-circle-xmark"></i>
      </button>
    </div>-->
  </section>

  <section class="pay__container">
    <div class="pay__checkout">
      <h2 class="pay__title">RESUMEN</h2>
      <section class="pay__content">
        <div class="pay__content-line">
          <p>cantidad de elementos</p>
          <p id="cart__quantity">0</p>
        </div>
        <div class="pay__content-line">
          <p>subtotal</p>
          <p>$<span id="cart__subtotal">0,00</span></p>
        </div>
        <div class="pay__content-line">
          <p>envío</p>
          <p>$<span id="cart__delivery">0,00</span></p>
        </div>
        <div class="pay__content-line total-line">
          <p>total</p>
          <p>$<span id="cart__total">0,00</span></p>
        </div>
      </section>
    </div>
    <section class="pay__button">
      <a href="" class="pay__link">Ir a pagar</a>
    </section>
  </section>
</main>
<script src="/js/cart.js"></script>
<%- contentFor('title') %> Carrito - Funkoshop
