<main class="item-container">
  <section class="item container">
    <picture class="item__cover">
      <img
        class="item__cover__front"
        src="<%= item.altFront %>"
        alt="<%= item.altFront %>"
      />
      <img
        class="item__cover__back"
        src="<%= item.altBack %>"
        alt="<%= item.altBack %>"
      />
    </picture>
    <article class="item__content">
      <p class="item__licence"><%= item.categoria %></p>
      <h3 class="item__title"><%= item.nombre %></h3>
      <p class="item__text"><%= item.altFront %></p>
      <p class="item__price">$ <%= item.precio %></p>
      <div class="item__cart">
        <button id="subtract" class="item__quantity" type="button">-</button>
        <input
          class="item__input"
          type="text"
          id="quantity"
          name="quantity"
          placeholder="0"
          disabled
        />
        <button id="add" class="item__quantity" type="button">+</button>
        <button class="item__submit btn-primary btn-medium btn" type="submit">
          Agregar
        </button>
      </div>
      <p class="item__promo">
        <a>Ver métodos de pago</a> - <%= item.metodo_pago %>
      </p>
    </article>
  </section>
  <%- include('../partials/slider', { titulo: 'productos relacionados',
  products: products}) %>
</main>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="/js/glide.js"></script>
<script src="/js/item.js"></script>
<%- contentFor('title') %> Item - Funkoshop
