<div class="grid__item">
  <article class="card-item">
    <a class="card-item__link" href="/shop/item/<%= item.id %>">
      <picture class="card-item__cover">
        <span class="card-item__tag">Nuevo</span>
        <img
          class="card-item__img__front"
          src="<%= item.altFront %>"
          alt="<%= item.altFront %>"
        />
        <img
          class="card-item__img__back"
          src="<%= item.altBack %>"
          alt="<%= item.altBack %>"
        />
      </picture>
      <div class="card-item__content">
        <p class="card-item__licence"><%= item.categoria %></p>
        <h4 class="card-item__name"><%= item.nombre %></h4>
        <p class="card-item__price">$<%= item.precio %>.-</p>
        <p class="card-item__promo"><%= item.promo %></p>
      </div>
    </a>
  </article>
</div>
