<li class="slider__item glide__slide">
  <article class="card-item">
    <a class="card-item__link" href="/shop/item/<%= producto.id %>">
      <picture class="card-item__cover">
        <span class="card-item__tag">Nuevo</span>
        <img
          class="card-item__img__front"
          src="<%= producto.urlFront %>"
          alt="<%= producto.altFront %>"
        />
        <img
          class="card-item__img__back"
          src="<%= producto.urlBack %>"
          alt="<%= producto.altBack %>"
        />
      </picture>
      <div class="card-item__content">
        <p class="card-item__licence"><%= producto.coleccion %></p>
        <h4 class="card-item__name"><%= producto.nombre %></h4>
        <p class="card-item__price">$<%= producto.precio %>.-</p>
        <p class="card-item__promo"><%= producto.promo %></p>
      </div>
    </a>
  </article>
</li>
