<li class="slider__item glide__slide">
  <article class="card-item">
    <a class="card-item__link" href="/shop/item/<%= product.id %>">
      <picture class="card-item__cover">
        <span class="card-item__tag">Nuevo</span>
        <img
          class="card-item__img__front"
          src="<%= product.altFront %>"
          alt="<%= product.altFront %>"
        />
        <img
          class="card-item__img__back"
          src="<%= product.altBack %>"
          alt="<%= product.altBack %>"
        />
      </picture>
      <div class="card-item__content">
        <p class="card-item__licence"><%= product.coleccion %></p>
        <h4 class="card-item__name"><%= product.nombre %></h4>
        <p class="card-item__price">$<%= product.precio %>.-</p>
        <p class="card-item__promo"><%= product.promo %></p>
      </div>
    </a>
  </article>
</li>
