<main class="create-container container">
  <h1 class="create-title">EDITAR ITEM</h1>
  <% if (typeof errors != 'undefined') { %>
  <ul class="list-errors">
    <% errors.forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>
  <form
    class="edit-form"
    action="/product/edit/<%= values.id%>?_method=PUT"
    method="post"
    enctype="multipart/form-data"
  >
    <section class="create-characteristic">
      <div class="create-item">
        <label class="create-label" for="tipo">Tipo:</label>
        <select name="tipo" id="tipo">
          <option value="">Seleccionar</option>
          <option value="figuras">Figuras</option>
          <option value="llaveros">Llaveros</option>
          <option value="remeras">Remeras</option>
        </select>
      </div>
      <div class="create-item">
        <label class="create-label" for="CategoryId">Categoría:</label>
        <select name="CategoryId" id="CategoryId" required>
            <option value="">Seleccionar</option>
            <% categories.forEach(category => { %>
              <option 
                value="<%= category.id %>" 
                <%= category.id == values.CategoryId ? "selected" : "" %> 
              ><%= category.nombre %></option>
              <% }) %>
          </select>
        </div>
      </div>
    </section>
    <section class="create-item">
      <label class="create-label" for="nombre">Nombre del producto:</label>
      <input
        class="create-text"
        type="text"
        name="nombre"
        id="nombre"
        required
        placeholder="Kakashi Hatake Shippuden Saga"
        value="<%= values.nombre %>"
      />
    </section>
    <section class="create-description">
      <textarea
        name="descripcion"
        id="descripcion"
        rows="10"
        placeholder="Descripción del producto."
      >
<%= values.descripcion %></textarea
      >
    </section>
    <section class="create-characteristic">
      <div class="create-item">
        <label class="create-label" for="codigo">Código:</label>
        <input
          class="create-text"
          type="text"
          name="codigo"
          id="codigo"
          placeholder="NAR001012"
          required
          value="<%= values.codigo %>"
        />
      </div>
      <div class="create-item">
        <label class="create-label" for="precio">Precio $:</label>
        <input
          class="create-text"
          type="text"
          name="precio"
          id="precio"
          required
          placeholder="$ 1.799,00"
          value="<%= values.precio %>"
        />
      </div>
      <div class="create-item">
        <label class="create-label" for="stock">Stock:</label>
        <input
          class="create-text"
          type="text"
          name="stock"
          id="stock"
          placeholder="10"
          value="<%= values.stock %>"
        />
      </div>
    </section>
    <section class="create-characteristic">
      <div class="create-item">
        <label class="create-label" for="descuento">Descuento %:</label>
        <input
          class="create-text"
          type="number"
          name="descuento"
          id="descuento"
          placeholder="10%"
          value="<%= values.descuento ? values.descuento : 0 %>"
          min="0"
          max="100"
        />
      </div>
      <div class="create-item">
        <label class="create-label" for="cuotas">Cuotas:</label>
        <select name="cuotas" id="cuotas">
          <option value="">Seleccionar</option>
          <option value="3">3 cuotas sin interés</option>
          <option value="6">6 cuotas sin interés</option>
          <option value="12">12 cuotas sin interés</option>
        </select>
      </div>
    </section>
    <div class="edit-images__container">
      <section class="edit-package__container">
      <div class="edit-package">
        <input type="file" id="imagenFront" name="imagenFront" accept="image/webp" required/>
        <picture class="edit-cover">
          <img
            width="50"
            src="/uploads/productos/producto_<%= values.id %>_front.webp"
            alt="<%= values.nombre %> - Front"
          />
          <figcaption>Frente</figcaption>
        </picture>
      </div>
    </section>
    
    <section class="edit-package__container">
      <div class="edit-package">
        <input type="file" id="imagenBack" name="imagenBack" accept="image/webp" required/>
        <picture class="edit-cover">
          <img
            width="50"
            src="/uploads/productos/producto_<%= values.id %>_back.webp"
            alt="<%= values.nombre %> - Back"
          />
          <figcaption>Dorso</figcaption>
        </picture>
      </div>
    </section>
  </div>
    <section class="create-actions">
      <input class="create-link" type="submit" value="Modificar Producto" />
    </section>
  </form>
</main>
<%- contentFor('title') %> Edición Producto - Funkoshop
