<main class="admin__container">
  <section class="search-product__container container">
    <form action="/product/search" method="get" class="filter-form">
      <button type="submit" class="search-button">
        <i class="fa-solid fa-magnifying-glass fa-2xs"></i>
      </button>
      <input
        class="search-product__input"
        name="search"
        placeholder="código, nombre o categoría"
      />
    </form>
  </section>
  <section class="container add-product__container">
    <h1 class="add-product__title">LISTADO DE PRODUCTOS</h1>
    <div class="add-product__button-container">
      <a href="/product/create">
        <p class="add-product__legend">AGREGAR</p>
        <i class="fa-solid fa-square-plus add-product__button"></i>
      </a>
    </div>
  </section>
  <section class="product__container container">
    <table id="listado_productos" class="product__table">
      <thead class="product__table__head">
        <tr class="product__table__row">
          <th class="product__table__th">ID</th>
          <th class="product__table__th">Código</th>
          <th class="product__table__th">Nombre del Producto</th>
          <th class="product__table__th">Categoria</th>
          <th class="product__table__th"></th>
        </tr>
      </thead>
      <tbody class="product__table__body">
        <% products.forEach(product => { %>
        <tr class="product__table__row">
          <td class="product__table__data"><%= product.id %></td>
          <td class="product__table__data"><%= product.codigo %></td>
          <td class="product__table__data"><%= product.nombre %></td>
          <td class="product__table__data"><%= product.Category.nombre %></td>
          <td class="product__table__actions product__table__data">
            <a href="/product/edit/<%= product.id %>"
              ><button type="button"><i class="fa-solid fa-pen"></i></button
            ></a>
            <form
              style
              class="form-delete"
              action="/product/delete/<%=product.id%>?_method=DELETE"
              method="post"
            >
              <button type="submit">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </section>
</main>
<script>
  document.addEventListener("submit", (event) => {
    if (event.target.classList.contains("form-delete")) {
      event.preventDefault();

      if (confirm("¿Está seguro que quiere eliminar el producto?")) {
        event.target.submit();
      }
    }
  });
</script>
<%- contentFor('title') %> Admin - Funkoshop
