<main class="admin__container">
  <section class="search-product__container container">
    <i class="fa-solid fa-magnifying-glass fa-2xs"></i>
    <input
      class="search-product__input"
      placeholder="código, nombre o categoria"
    />
  </section>
  <section class="container add-product__container">
    <h1 class="add-product__title">LISTADO DE PRODUCTOS</h1>
    <div class="add-product__button-container">
      <p class="add-product__legend">AGREGAR</p>
      <i class="fa-solid fa-square-plus add-product__button"></i>
    </div>
  </section>
  <section class="product__container container">
    <table id="listado_productos" class="product__table">
      <thead class="product__table__head">
        <tr class="product__table__row">
          <th class="product__table__th">ID</th>
          <th class="product__table__th">Código</th>
          <th class="product__table__th">Nombre del Producto</th>
          <th class="product__table__th">Categoria</th>
          <th class="product__table__th"></th>
        </tr>
      </thead>
      <tbody class="product__table__body">
        <% productos.forEach(producto => { %>
        <tr class="product__table__row">
          <td class="product__table__data"><%= producto.id %></td>
          <td class="product__table__data"><%= producto.codigo %></td>
          <td class="product__table__data"><%= producto.nombre %></td>
          <td class="product__table__data"><%= producto.categoria %></td>
          <td class="product__table__actions product__table__data">
            <a href="/admin/edit/<%= producto.id %>"
              ><button type="button"><i class="fa-solid fa-pen"></i></button
            ></a>
            <a href="/admin/delete/<%= producto.id %>"
              ><button type="button">
                <i class="fa-solid fa-trash-can"></i></button
            ></a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </section>
</main>
<%- contentFor('title') %> Admin - Funkoshop
