<main class="register-container container">
  <h1 class="register-title">CREA TU CUENTA</h1>
  <p class="register-subtitle">
    Completa el formulario para ser parte del mundo de los Funkos
  </p>
  <% if (typeof errors != 'undefined') { %>
  <ul>
    <% errors.forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>
  <form class="register-form" action="/auth/register" method="post">
    <div class="register-item">
      <label class="register-label" for="nombre">Nombre:</label>
      <input
        class="register-text"
        type="text"
        name="nombre"
        id="nombre"
        required
        placeholder="John"
        value="<%= typeof values != 'undefined' ? values.nombre : '' %>"
      />
    </div>
    <div class="register-item">
      <label class="register-label" for="apellido">Apellido:</label>
      <input
        class="register-text"
        type="text"
        name="apellido"
        id="apellido"
        required
        placeholder="Doe"
        value="<%= typeof values != 'undefined' ? values.apellido : '' %>"
      />
    </div>
    <div class="register-item">
      <label class="register-label" for="email">Email:</label>
      <input
        class="register-text"
        type="email"
        name="email"
        id="email"
        required
        placeholder="johndoe@correo.com"
        value="<%= typeof values != 'undefined' ? values.email : '' %>"
      />
    </div>
    <div class="register-item">
      <label class="register-label" for="password">Contraseña:</label>
      <input
        class="register-text"
        type="password"
        name="password"
        id="password"
        required
        autocomplete="off"
      />
    </div>
    <div class="register-item">
      <label class="register-label" for="password_confirmation"
        >Repita Contraseña:</label
      >
      <input
        class="register-text"
        type="password"
        name="password_confirmation"
        id="password_confirmation"
        required
      />
    </div>
    <div class="register-actions">
      <input class="register-submit" type="submit" value="Registrar" />
      <div>
        <input type="checkbox" id="TyC" name="TyC" />
        <label class="register-terminos__text" for="terminos_condiciones"
          >Acepto
          <a href="../terminos" class="register-terminos__link"
            >Términos y Condiciones</a
          ></label
        >
      </div>
    </div>
  </form>
</main>
<%- contentFor('title') %> Registro - Funkoshop
